<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>班级列表</title>

</head>
<body>


<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/class/">班级列表</a></li>
    <li role="presentation"><a href="/students/">学生列表</a></li>
    <li role="presentation"><a href="/tearchers/">老师列表</a></li>
</ul>

<div>
    <h1>班级列表</h1>
    <div>
        <a href="/addclass" class="btn btn-primary">添加班级</a>
    </div>
    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>班级名称</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        {% for foo in class_list %}
            <tr>
                <td>{{ foo.id }}</td>
                <td>{{ foo.name }}</td>
                <td>
                    <a href="\edit_class\?id={{ foo.id }}" class="btn btn-info">编辑</a>
                    <a href="\delete_class\?id={{ foo.id }}" class="btn btn-danger">删除</a>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>