<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>学生列表</title>

</head>
<body>


<ul class="nav nav-tabs">
    <li role="presentation" ><a href="/class/">班级列表</a></li>
    <li role="presentation" class="active"><a href="/students/">学生列表</a></li>
    <li role="presentation"><a href="/tearchers/">老师列表</a></li>
</ul>


<div>
    <h1>学生列表</h1>
    <div>
        <a href="/addStudent/" class="btn btn-primary">添加学生</a>
    </div>
    <!-- Table -->
    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>学生姓名</td>
            <td>所属班级</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        {% for row in student_list %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.sname }}</td>
                <td clsid = "{{ row.cid }}">{{ row.name }}</td>
                <td>
                    <a href="/editStudent/?id={{ row.id }}" class="btn btn-info">编辑</a>
                    <a href="/delete_student/?id={{ row.id }}" class="btn btn-danger">删除</a>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>
</body>
</html>