<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>老师列表</title>


</head>
<body>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/class/">班级列表</a></li>
    <li role="presentation"><a href="/students/">学生列表</a></li>
    <li role="presentation" class="active"><a href="/tearchers/">老师列表</a></li>
</ul>

<div>
<h1>老师列表</h1>
    <div >
        <a href="/addtearcher/" class="btn btn-primary ">添加老师</a>
    </div>
    <!-- Table -->
    <table >
        <thead>
        <tr>
            <td>ID</td>
            <td>老师姓名</td>
            <td>班级</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        {% for tearcher in result %}
            <tr>
                <td>{{ tearcher.tid }}</td>
                <td>{{ tearcher.tname }}</td>
                <td>
                    {% for iteam in tearcher.classes %}
                        <span style="display: inline-block;padding: 5px;border: 1px solid red">{{ iteam.name }}</span>
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-info " href="/editTearcher/?tid={{tearcher.tid}}">编辑</a>
                    <a class="btn btn-danger fa fa-trash-o fa-lg" href="/deleteTearcher/?tid={{ tearcher.tid }}">删除</a>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

</body>
</html>