/*
 @Time    : 2020-04-28 23:08
 @Author  : Yue
 @File    : commons.css
 @Software: PyCharm
*/

body {
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pg-header {
    height: 48px;
    min-width: 990px;
    background-color: #2e6da4;
    line-height: 48px;
}

.pg-header .logo {
    color: white;
    font-size: 20px;
    width: 200px;
    text-align: center;
    border-right: 1px solid #dddddd;
}

.pg-header .rmenus a {
    display: inline-block;
    padding: 0px 10px;
    color: white;
    text-decoration: none;
}

.pg-header .rmenus a:hover {
    background-color: #5bc0de;
}

.pg-header .avatar {
    padding: 0px 20px;
    position: relative;
}

.pg-header .avatar img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.pg-header .avatar .user-info {
    display: none;
    position: absolute;
    width: 100px;
    top: 48px;
    right: 2px;
    border: 1px solid #1b6d85;
    background-color: white;
    z-index: 100;
}

.pg-header .avatar .user-info a {
    display: block;
    padding: 5px;
    color: #000000;
    text-align: center;

}

.pg-header .avatar:hover .user-info {
    display: block;
}

.menus {
    width: 200px;
    background-color: #f5f5f5;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 48px;
}

.pg-body .menus a {
    display: block;
    padding: 10px 5px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
    color: black;
    text-decoration: none;
}

.pg-body .menus a:hover {
    background-color: #2aabd2;
}

.content {
    position: absolute;
    min-width: 790px;
    left: 200px;
    right: 0px;
    top: 48px;
    bottom: 0;
    overflow: auto;
    z-index: 99;
}

.hide {
    display: none;
}