<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>addTearcher</title>

</head>
<body>
    <h1>添加老师</h1>
    <form action="/addtearcher/" method="post">
        <p><input type="text" name="tname" placeholder="老师姓名"></p>
        <p>
            <select multiple size="4" name="class_ids">
                {% for class in  class_list %}
                    <option value="{{ class.id }}">{{ class.name }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="提交">
    </form>
</body>
</html>