<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>编辑老师</title>

</head>
<body>
<h1>编辑老师</h1>
<form action="/editTearcher/?tid={{ info.tid }}" method="post">
    <p>老师姓名：<input type="text" name="tname" value="{{ info.tname }}"></p>
    <p>
        <select multiple name="class_ids">
            {% for class in class_list %}
                {# 如果item.id 在当前任教的班级中 #}
                {% if class.id in tearcher_class_list %}
                    <option selected value="{{ class.id }}">{{ class.name }} </option>
                {% else %}
                    <option value="{{ class.id }}">{{ class.name }} </option>
                {% endif %}

            {% endfor %}
        </select>
    </p>
    <input type="submit" value="提交">
</form>
</body>
</html>